
.text-blue-500 {
    color: #3b82f6;
  }
  .text-gray-800 {
    color: #1f2937;
  }
  .text-gray-600 {
    color: #4b5563;
  }
  
  
  

.hover\:scale-105-container {
    position: relative; 
    overflow: hidden;  
  }

  .hover\:scale-105-container:hover .book-image {
    transform: scale(1.2); 
  }
  
  .book-image {
    transition: transform 0.3s ease-in-out; 
    width: 100%;  
    height: 100%; 
    object-fit: cover; 
  }
  